* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(10, 36, 237, 0.992);
  height: 100vh;
  background: url("../public/background.png") no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 10px 4rem;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: space-evenly;
}

.input-text {
  font-size: 1.5rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
}

.input-text::placeholder {
  color: rgb(156, 155, 155);
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  list-style: none;
}

a {
  color: rgba(10, 36, 237, 0.992);
  text-decoration: none;
}

.aboutList {
  display: flex;
  flex-direction: row;
  float: right;
  gap: 48px;
  list-style: none;
  font-size: 1.3rem;
}

.aboutAppDiv,
.authorDiv {
  margin-top: 48px;
}

.authorDiv h4,
.aboutAppDiv h4 {
  text-align: center;
  text-transform: capitalize;
}

.authorDiv p,
.aboutAppDiv p {
  color: #b0ceef;
  background-color: rgba(10, 36, 237, 0.992);
  padding: 20px;
  border-radius: 50px 0 50px 0;
  margin-top: 2%;
}

.aboutDiv {
  display: inline;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #b0ceef;
  padding-bottom: 2%;
}

.dropdown-menu a {
  color: #fff;
  padding-left: 24px;
  font-size: 24px;
}

.aboutNav .dropdown button {
  display: block;
  background-color: transparent;
  border: none;
  color: rgba(10, 36, 237, 0.992);
  font-size: 2rem;
  cursor: pointer;
}
